
/* Treasure hunt styles */
.th-item, .th-item-unknown {
	visibility: visible;
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 999;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.th-item.th-item-od{
    visibility: hidden;
}
.th-item-resource{
    top: calc(3rem + 128px);
}
.animation-wiggle > img{
    -webkit-animation: BADGE-WIGGLE 4s infinite; /* Safari 4+ */
    -moz-animation:    BADGE-WIGGLE 4s infinite; /* Fx 5+ */
    -o-animation:      BADGE-WIGGLE 4s infinite; /* Opera 12+ */
    animation:         BADGE-WIGGLE 4s infinite; /* IE 10+, Fx 29+ */
}
.th-item > img, .th-item-unknown > img {
    filter: drop-shadow(0px 12px 12px rgba(0,0,0,0.1));
    width: 100%;
    height: auto;
}

img.loot-badge.badge-beat {
    -webkit-animation: BADGE-BEAT 4s infinite; /* Safari 4+ */
    -moz-animation:    BADGE-BEAT 4s infinite; /* Fx 5+ */
    -o-animation:      BADGE-BEAT 4s infinite; /* Opera 12+ */
    animation:         BADGE-BEAT 4s infinite; /* IE 10+, Fx 29+ */
}

.th-item-unknown .th-tool-tips{
    position: relative;
    display: inline-block;
    visibility: hidden;
    width: 320px;
    max-width: 50vw;
    background: #fff;
    right: calc(320px - 100% - 0.8rem);
    bottom: 0rem;
    padding: 1rem;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    transition: 500ms;
    opacity: 0;
    filter: drop-shadow(0px 4px 12px rgba(0,0,0,0.13));
}
.th-item-unknown:hover .th-tool-tips{
    visibility: visible;
    bottom: -1rem;
    opacity: 1;
}
.th-item-unknown .th-tool-tips .arrow{
    display: inline-block;
    transform: rotate(45deg);
    width: 16px;
    height: 16px;
    position: absolute;
    top: -6px;
    right: 48px;
    background: #fff;
}
.th-item-unknown .th-tool-tips h4{
    margin-bottom: auto;
    font-size: 2rem;
    color: #0e497b;
}

.th-item-unknown .th-tool-tips p{
    margin-bottom: auto;
}

@-webkit-keyframes BADGE-WIGGLE {
    0%   { transform:rotate(0deg); }
    10%   { transform:rotate(5deg); }
    20%   { transform:rotate(-5deg); }
    30%   { transform:rotate(0deg); }
    100% { transform:rotate(0deg); }
}
@-moz-keyframes BADGE-WIGGLE {
    0%   { transform:rotate(0deg); }
    10%   { transform:rotate(5deg); }
    20%   { transform:rotate(-5deg); }
    30%   { transform:rotate(0deg); }
    100% { transform:rotate(0deg); }
}
@-o-keyframes BADGE-WIGGLE {
    0%   { transform:rotate(0deg); }
    10%   { transform:rotate(5deg); }
    20%   { transform:rotate(-5deg); }
    30%   { transform:rotate(0deg); }
    100% { transform:rotate(0deg); }
}
@keyframes BADGE-WIGGLE {
    0%   { transform:rotate(0deg); }
    10%   { transform:rotate(5deg); }
    20%   { transform:rotate(-5deg); }
    30%   { transform:rotate(0deg); }
    100% { transform:rotate(0deg); }
}


@-webkit-keyframes BADGE-BEAT {
    0%   { transform:scale(1); }
    10%   { transform:scale(1.2); }
    20%   { transform:scale(0.8); }
    30%   { transform:scale(1); }
    100% { transform:scale(1); }
}
@-moz-keyframes BADGE-BEAT {
    0%   { transform:scale(1); }
    10%   { transform:scale(1.2); }
    20%   { transform:scale(0.8); }
    30%   { transform:scale(1); }
    100% { transform:scale(1); }
}
@-o-keyframes BADGE-BEAT {
    0%   { transform:scale(1); }
    10%   { transform:scale(1.2); }
    20%   { transform:scale(0.8); }
    30%   { transform:scale(1); }
    100% { transform:scale(1); }
}
@keyframes BADGE-BEAT {
    0%   { transform:scale(1); }
    10%   { transform:scale(1.2); }
    20%   { transform:scale(0.8); }
    30%   { transform:scale(1); }
    100% { transform:scale(1); }
}

.th-item:hover {
    transform: scale(1.2);
}

.th-item p {
    margin: 0;
    line-height: 100px;
    font-size: 80px;
    text-align: center;
}

.th-modal {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 512px;
    width: 100%;
    z-index: 99999;
    background: none;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    /* padding: 2rem; */
    border-radius: 1.2rem;
    overflow: hidden;
}
.th-modal p{
	margin: auto;
}
.th-congrate{
    width: 100%;
    background: #074b7b;
    padding: 2rem;
    display: flex;
    height: auto;
    color: white;
}
.th-congrate .loot-badge{
    width: 98px;
    padding-right: 1rem;
}
.th-congrate .hunted-content{
    text-align: left;
}
.th-congrate .hunted-content h4{
    margin: auto;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: normal;
    color: #ffb817;
}
.th-congrate .hunted-content p{
    font-family: 'Guardian Sans Light';
}
.th-congrate .hunted-content p > b{
    font-family: 'Guardian Sans Semibold';
}
.th-hunt-progress-content{
    background: white;
    padding: 2rem;
    width: 100%;
}
.th-hunt-progress-content > b{
    margin-bottom: 1rem;
    display: block;
    text-transform: uppercase;
    color: #074b7b;
    font-size: 1.1rem;
}
.th-hunt-progress-content .badges-array img{
    margin: 8px;
}


.th-modal-overlay {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 99998;
}
.th-modal img.complete-img{
    width: 30%;
    height: auto;
    margin-bottom: 2rem;
    opacity: 0;
    transition: 800ms cubic-bezier(0.27, 1.09, 0.15,-0.64);
    transform: scale(0.5);
    transform-origin: center center;
}
.th-modal #th-close-btn{
    enable-background: new 0 0 30 30;
    position: absolute;
    width: 36px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.th-passport #th-close-btn{
    display: none;
}

.th-hunt-progress-content #th-close-btn > path{
    fill: #888;
}
#th-complete-modal{
    background: lemonchiffon;
    padding: 2rem;
}
#th-complete-modal .th-button{
    padding: 6px 12px;
    display: inline-block;
    border: 2px solid;
    border-radius: .5rem;
    margin: 1rem;
}
.th-passport > .th-hunt-progress-content{
    padding: 0px;
}
.th-passport > .th-hunt-progress-content .badges-array {
    text-align: center;
}
.th-passport > .th-hunt-progress-content .badges-array > img{
    width: 38px;
    margin: 8px;
}



@media only screen and (max-width: 992px){
    .th-modal {
        margin: 1rem;
        width: calc(100% - 2rem);
    }
    .th-hunt-progress-content{
        padding: 1rem;
    }
    .th-hunt-progress-content .badges-array img {
        margin: 2px;
        width: 36px;
        height: auto;
    }
    .th-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .th-item > img{
        width: 64px;
        height: auto;
        max-height: 64px;
    }
}